[submodule "poston-api"]
    path = poston-api
    url = https://github.com/RendyDharmaPutra/poston-api.git
	
[submodule "poston-bot"]
    path = poston-bot
    url = https://github.com/RendyDharmaPutra/poston-bot.git